
<div class="row">
  <div class="large-12 columns">
    <%= image_tag("cash-logo.png") %>
  </div>
</div>




<div class="row">
  <div class="large-12 centered-columns">
    <ul class="stack-for-small button-group even-2">
      <li><%= link_to("Sign up" , new_user_registration_path, { class: "button round home" }) %></li>
      <li><%= link_to("Sign in" , new_user_session_path, { class: "button round home" }) %></li>
    </ul>
  </div>
</div>
